<!-- Start Banner Area -->
<div class="home-slides owl-carousel owl-theme">
    <div class="banner-area bg-1">
        <div class="container">
            <div class="banner-content">
                <h1>Solve Busines Challenges With IT</h1>
                <p>
                    At TwinMind Solutions, we help businesses overcome
                    operational hurdles, inefficiencies, and growth roadblocks
                    by leveraging modern technology.
                </p>
                <div class="btn-box">
                    <a routerLink="/about" class="btn btn-primary">Read More</a>
                    <a routerLink="/contact" class="btn btn-light"
                        >Get Started</a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="banner-area bg-2">
        <div class="container">
            <div class="banner-content">
                <h1>Solve Busines Challenges With IT</h1>
                <p>
                    Whether it's streamlining workflows, automating processes,
                    or building a strong digital presence — we turn challenges
                    into scalable solutions.
                </p>
                <div class="btn-box">
                    <a routerLink="/about" class="btn btn-primary">Read More</a>
                    <a routerLink="/contact" class="btn btn-light"
                        >Get Started</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<!-- Start Boxes Area -->
<section class="boxes-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <i class="flaticon-programming-code"></i>
                    </div>
                    <h3>Software Development</h3>
                    <p>
                        From responsive websites to feature-rich mobile
                        applications, we specialize in building custom digital
                        solutions that are fast, secure, and scalable.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <i class="flaticon-writing"></i>
                    </div>
                    <h3>UI/UX Design & Branding</h3>
                    <p>
                        Our UI/UX design process focuses on usability, clarity,
                        and visual appeal. We craft clean, user-centered
                        interfaces for websites and apps.
                    </p>
                </div>
            </div>

            <div
                class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3"
            >
                <div class="single-boxes-box">
                    <div class="icon">
                        <i class="flaticon-analysis"></i>
                    </div>
                    <h3>Digital Product Strategy</h3>
                    <p>
                        Success starts with the right strategy. Whether you're
                        building an MVP or scaling an existing product, we
                        partner with you to define your roadmap.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Boxes Area -->

<!-- Start About Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/downloaded/img6.jpg" alt="image" />
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span>Who We Are </span>
                        <h2>Building Digital Experiences That Drive Results</h2>
                        <p>
                            We’re a team of developers, designers, and
                            strategists dedicated to crafting high-performance
                            websites and mobile apps. From idea to execution, we
                            deliver custom digital solutions that are fast,
                            scalable, and user-focused — helping businesses grow
                            in a connected world.
                        </p>
                        <a routerLink="/about" class="btn btn-primary"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start What We Do Area -->
<section class="what-we-do-area pt-0 ptb-110">
    <div class="container">
        <div class="section-title-style-two">
            <div class="content">
                <span>What We Do</span>
                <h2>
                    Innovative Software Solutions Built Around Your Business
                    Needs
                </h2>
            </div>

            <div class="text">
                <p>
                    We design and develop tailored digital solutions that align
                    with your business goals. From intuitive mobile and web
                    applications to enterprise-grade systems, our team combines
                    technical excellence with strategic insight to solve
                    real-world challenges.
                </p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="what-we-do-content">
                    <div class="row">
                        <div class="col-6 col-lg-6 col-md-3 col-sm-4">
                            <div class="single-funfacts">
                                <div
                                    class="circlechart"
                                    data-percentage="60"
                                ></div>
                                <span>Design</span>
                                <h3>Codes</h3>
                            </div>
                        </div>

                        <div class="col-6 col-lg-6 col-md-3 col-sm-4">
                            <div class="single-funfacts">
                                <div
                                    class="circlechart"
                                    data-percentage="75"
                                ></div>
                                <span>Our happy</span>
                                <h3>Clients</h3>
                            </div>
                        </div>

                        <div class="col-6 col-lg-6 col-md-3 col-sm-4">
                            <div class="single-funfacts">
                                <div
                                    class="circlechart"
                                    data-percentage="85"
                                ></div>
                                <span>Projects</span>
                                <h3>Design</h3>
                            </div>
                        </div>

                        <div
                            class="col-6 col-lg-6 col-md-3 col-sm-4 offset-lg-0 offset-md-0 offset-sm-4"
                        >
                            <div class="single-funfacts">
                                <div
                                    class="circlechart"
                                    data-percentage="95"
                                ></div>
                                <span>Completed</span>
                                <h3>Projects</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="what-we-do-image">
                    <img src="assets/img/downloaded/img15.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What We Do Area -->

<!-- Start Projects Area -->
<section class="projects-area ptb-110 bg-f7f9fb">
    <div class="container">
        <div class="section-title-style-two text-center">
            <div class="content">
                <span>Delivering Impact Through Innovation </span>
                <h2>Our Recent Projects</h2>
            </div>

            <div class="text">
                <p>
                    Take a look at some of the work we’ve delivered across
                    industries. From sleek mobile apps to powerful enterprise
                    platforms, our recent projects showcase our commitment to
                    quality, performance, and user-centered design.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="projects-slides-two owl-carousel owl-theme">
            <div
                class="single-projects-box"
                *ngFor="let project of recentProjects"
            >
                <a [routerLink]="['/project-details', project.id]">
                    <img [src]="project.screenshots[0]" [alt]="project.name" />
                </a>
                <div class="projects-content">
                    <span>{{ project.businessType }}</span>
                    <h3>
                        <a [routerLink]="['/project-details', project.id]">{{
                            project.name
                        }}</a>
                    </h3>
                    <p>{{ project.shortDescription }}</p>
                    <a
                        [routerLink]="['/project-details', project.id]"
                        class="read-more-btn"
                    >
                        Read More <i class="flaticon-add-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Projects Area -->

<!-- Start Feedback Area -->
<section class="feedback-area ptb-110">
    <div class="container">
        <div class="section-title-style-two">
            <div class="content">
                <h2>Our Customer <br />Review</h2>
            </div>

            <div class="text">
                <i class="far fa-comments"></i>
            </div>
        </div>

        <div class="feedback-slides owl-carousel owl-theme">
            <div
                class="single-feedback-box"
                *ngFor="let feedback of feedbackList"
            >
                <p>{{ feedback.message }}</p>
                <div class="client-info">
                    <h3>{{ feedback.name }}</h3>
                    <span>{{ feedback.title }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feedback Area -->

<!-- Start Build Area -->
<section class="build-area">
    <div class="container">
        <div class="build-inner-area">
            <div class="bulid-content">
                <h2>Let's Get to work!</h2>
                <p>
                    Whether you're starting from scratch or refreshing your
                    current site, we create custom websites that are fast,
                    responsive, and designed to convert. From sleek portfolios
                    to complex business platforms, we turn your ideas into a
                    stunning online presence that drives real results.
                </p>
                <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Build Area -->

<!-- Start Working Process Area -->
<section class="working-process-area ptb-110">
    <div class="container">
        <div class="section-title-style-two">
            <div class="content">
                <span>Our Process</span>
                <h2>Our Development Working Process</h2>
            </div>

            <div class="text">
                <p>
                    We follow a structured and collaborative development process
                    that ensures your project is delivered on time, within
                    budget, and to the highest standards. From initial discovery
                    and planning, through design, development, testing, and
                    deployment — we work closely with you every step of the way
                    to bring your vision to life. Our agile methodology keeps
                    you informed, involved, and empowered, ensuring a final
                    product that truly meets your needs and exceeds
                    expectations.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-working-process-box">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image" />
                    </div>
                    <h3>Planning & Analysis</h3>
                    <p>
                        We begin by understanding your goals, analyzing
                        requirements, and crafting a strategic plan that aligns
                        with your business objectives and user needs.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-working-process-box">
                    <div class="icon">
                        <img src="assets/img/icon2.png" alt="image" />
                    </div>
                    <h3>Design & Prototyping</h3>
                    <p>
                        We transform ideas into visual experiences by designing
                        intuitive interfaces and interactive prototypes that
                        ensure seamless user engagement.
                    </p>
                </div>
            </div>

            <div
                class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
            >
                <div class="single-working-process-box">
                    <div class="icon">
                        <img src="assets/img/icon3.png" alt="image" />
                    </div>
                    <h3>Software Development</h3>
                    <p>
                        Our developers bring the designs to life using modern
                        frameworks and best coding practices to build secure,
                        scalable, and high-performance solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Working Process Area -->

<!-- Start Clients Area -->
<!-- <section class="clients-area">
    <div class="container">
        <div class="clients-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="title">
                        <h2>Clients We Work For</h2>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="clients-list">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients1.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients2.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients3.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients4.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients5.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="clients-image">
                                    <a href="#" target="_blank">
                                        <img
                                            src="assets/img/clients/clients6.png"
                                            alt="image"
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Clients Area -->

<!-- Start Blog Area -->
<!-- End Blog Area -->
