<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Projects</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Projects</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Projects Area -->
<section class="projects-area ptb-110">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-6"
        *ngFor="let project of projects"
      >
        <div class="single-projects-box">
          <a [routerLink]="['/project-details', project.id]">
            <img [src]="project.screenshots[0]" [alt]="project.name" />
          </a>

          <div class="projects-content">
            <span>{{ project.businessType }}</span>
            <h3>
              <a [routerLink]="['/project-details', project.id]">{{ project.name }}</a>
            </h3>
            <p>{{ project.shortDescription }}</p>
            <a [routerLink]="['/project-details', project.id]" class="read-more-btn">
              Read More <i class="flaticon-add-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="shape13">
      <img src="assets/img/shape/shape13.svg" alt="image" />
    </div>
    <div class="shape15">
      <img src="assets/img/shape/shape13.svg" alt="image" />
    </div>
  </div>
</section>

<!-- End Projects Area -->
